.wrap {
    margin-top: 1rem;
    color: var(--var-color-text);
}

.wrap h1 {
    color: var(--var-color-titles);
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

.blockNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.blockUa, .blockUs, .blockPl {
    width: 30%;
}


@media (min-width: 992px) {
    .blockUa, .blockUs, .blockPl {
        width: 30%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .blockUa, .blockUs, .blockPl {
        width: 35%;
    }

    .blockNews {
        justify-content: center;
        gap: 3rem;
    }
}

@media (min-width: 200px) and (max-width: 575px) {
    .blockUa, .blockUs, .blockPl {
        width: 80%;
    }

    .blockNews {
        justify-content: center;
    }
}