.wrap {
    height: 3rem;
    background: var(--var-bg-header-footer);
    color: var(--var-color-header-footer);
    padding: 0 1rem;
    justify-content: space-between;
}

.menuIcon {
    display: none;
}


.blockLogo {

}

.blockUl {

}

.blockSearch {
    width: 20%;
}


@media (min-width: 576px) and (max-width: 991px) {
    .blockUl {
        display: none;
    }

    .menuIcon {
        display: block;
        color: var(--var-color-header-footer);
        font-size: 2rem;
        cursor: pointer;
    }

    .menuIcon:hover {
        color: var(--var-color-text);
    }
}

@media (min-width: 200px) and (max-width: 575px) {
    .blockUl {
        display: none;
    }

    .blockSearch {
       display: none;
    }

    .menuIcon {
        display: block;
        color: var(--var-color-header-footer);
        font-size: 2rem;
        cursor: pointer;
    }

    .menuIcon:hover {
        color: var(--var-color-text);
    }
}