.wrap {

}

.blockIcon {
    justify-content: space-between;
    color: var(--var-color-header-footer);
    font-size: 1.3rem;
    cursor: pointer;
}

.blockInfo {

}

.blockInfo > .title {
    color: var(--var-color-text);
    font-size: 1rem;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
}

.iconStarDefault {

}

.iconStarActive {
    color: yellow;
}