* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-bg: #f7f2f2;
    --var-bg-header-footer: #6152bf;
    --var-color-text: #797594;
    --var-color-titles: #302e3b;
    --var-color-header-footer: #6fc3c9
}

.width {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--var-color-text);
}

a:hover{
    color: var(--var-color-header-footer);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}